@using Dashboard.Domain
@using Emma.Config

@{
    ViewBag.Title = "IT Ops Dashboard";
}
<div class="row process">
    <div id="inbound" class="col-md-2"></div>
    <div id="outbound" class="col-md-2"></div>
    <div id="dqer" class="col-md-2"></div>
    <div id="parser" class="col-md-2"></div>
    <div id="a12" class="col-md-2"></div>
</div>
<div class="row process">
    <div id="csm" class="col-md-2"></div>    
    <div id="matcher" class="col-md-2"></div>
    <div id="rulesengine" class="col-md-2"></div>
    <div id="responder" class="col-md-2"></div>
    <div id="disseminator" class="col-md-2"></div>
</div>
<div class="row process">
    <div id="ete" class="col-md-6"></div>
    @*<div id="tabular" class="col-md-4"></div>*@
</div>


@section scripts
{
    @*<script src="https://code.highcharts.com/highcharts.js"></script>*@
    @*<script src="https://code.highcharts.com/modules/exporting.js"></script>*@
    <script src="~/Scripts/highcharts.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    @*<script src="~/Scripts/chart.js"></script>*@
    <script src="~/Scripts/dashBoard.js"></script>
    <script src="~/Scripts/dataService.js"></script>
    <script src="~/Scripts/chartComponent.js"></script>
}

<script>
    // define MSRB namespace
    var MSRB = MSRB || {};

    var pollingIntervalInSeconds = '@Configuration.Instance.Properties["chart_polling_interval_in_seconds", true]';
    var monitoringWindowInSeconds = '@Configuration.Instance.Properties["chart_monitoring_window_in_seconds", true]';
    var nonShiftPoints = monitoringWindowInSeconds / pollingIntervalInSeconds;
    var yAxisMax = '@Configuration.Instance.Properties["chart_y_axis_max", true]';
    var yAxisMin = '@Configuration.Instance.Properties["chart_y_axis_min", true]';
    var yAxisFixed = '@Configuration.Instance.Properties["chart_y_axis_fixed", true]';
    var dataCenters = '@HttpUtility.HtmlDecode(ConfigReader.Instance.GetDataCenterConfigs())';
    var yAxisMaxMq = '@Configuration.Instance.Properties["mq_y_axis_max", true]';
    var yAxisMinMq = '@Configuration.Instance.Properties["mq_y_axis_min", true]';
    var yAxisFixedMq = '@Configuration.Instance.Properties["mq_y_axis_fixed", true]';
    var yAxisMaxEte = '@Configuration.Instance.Properties["ete_y_axis_max", true]';
    var yAxisMinEte = '@Configuration.Instance.Properties["ete_y_axis_min", true]';
    var yAxisFixedEte = '@Configuration.Instance.Properties["ete_y_axis_fixed", true]';
    var playbackEnabled = '@Configuration.Instance.Properties["playback_enabled", true]';
    var playbackStartTime = '@Configuration.Instance.Properties["playback_start_time", true]';

    var yAxisTitleText = '@Configuration.Instance.Properties["chart_y_axis_title_text", true]';
    var yAxisTitleTextMq = '@Configuration.Instance.Properties["mq_y_axis_title_text", true]';
    var yAxisTitleTextEte = '@Configuration.Instance.Properties["ete_y_axis_title_text", true]';

    var timeLaggingToPull = '@Configuration.Instance.Properties["time_lagging_to_pull_in_seconds", true]';
</script>
